# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# Node
node_modules/
npm-debug.log

# Secrets
.env
.env.local
*.pem
*.key
